{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h3>Training Schedule</h3>
    <table id="scheduleTable" class="table table-striped">
        <thead>
            <tr>
                <th>Event</th>
                <th>Start</th>
                <th>End</th>
                <th>Facility</th>
            </tr>
        </thead>
        <tbody>
            {% for row in schedule %}
            <tr>
                <td>{{ row.event_name }}</td>
                <td>{{ row.start }}</td>
                <td>{{ row.end }}</td>
                <td>{{ row.facility }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/swimmer" class="btn btn-outline-secondary mt-3">🔙 Back</a>
</div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        $('#scheduleTable').DataTable({
            order: [[1, 'asc']],
            responsive: true,
            language: {
                lengthMenu: "Show _MENU_ entries",
                info: "Showing _START_ to _END_ of _TOTAL_ events",
            }
        });
    });
</script>
{% endblock %}
